<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>MVC Example</title>
        <link rel="stylesheet" type="text/css" href="/css/basics.css">
    </head>
    <body>
        <h1>Yasmin war hier</h1>
        <p>Here you can choose what you want to do next:</p>
        <p>Sie können einen der folgenden Links ausprobieren:</p>
        <ul>
            <li><a href="/list">Alle Noten auflisten</a></li>
            <li><a href="/add?fach=Mathematik&note=1">Neue Note hinzufügen</a></li>
            <li><a href="/update">Eine existierende Note aktualisieren</a></li>
            <li><a href="/delete/3">Eine existierende Note nach Id löschen</a></li>
            <li><a href="/find?id=1"> Eine Note anhand ID finden<a></li>

            
        </ul>
        <div class="container">
            <figure>
            <video class="video" width="200" height="200" controls>
                <source src="images/welpe.mp4" type="video/mp4">
            </video>
            <figcaption>süßer Welpe</figcaption>
        </figure>
        </div>
        <footer>
            <small id="today"></small>
        </footer>
        <script src="/js/date.js"></script>
    </body>
</html>