<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Liste der Noten</title>
        <link rel="stylesheet" type="text/css" href="/css/basic.css">
    </head>
    <body>
        <h1>Liste der Noten</h1>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>fach</th>
                    <th>note</th>
                </tr>
            </thead>
            <tbody>
                <!-- habs bissle übersichtlicher gemacht-->
                <th:block th:each="note : ${noten}">
                    <tr>
                    <td th:text="${note.id}">id</td>
                    <td th:text="${note.fach}">fach</td>
                    <td th:text="${note.note}">note</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <footer>
            <small id="today"></small>
            <a href="/" class="back-link">Zurück zur Startseite</a>
        </footer>
        <script>
            var date = new Date();
            var year = date.getFullYear();
            document.getElementById("today").innerHTML = "&copy; FRA-UAS MVC Beispiel, " + year;
        </script> 
    </body>
</html>