<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Note Aktualisieren</title>
    </head>
    <body>
        <h1>Note Aktualisieren</h1>
        <!-- Ein Formular, um Parameter mit der HTTP-Methode POST zu senden -->
        <form action="/updated" method="post">
            <label for="id">ID:</label><br>
            <input type="number" id="id" name="id" required><br>
            <label for="subject">Fach:</label><br>
            <input type="text" id="subject" name="subject" required><br>
            <label for="grade">Note:</label><br>
            <input type="text" id="grade" name="grade" required><br><br>
            <input type="submit" value="Abschicken">
        </form>
        <br/>
        <a href="/list">Zurück zur Notenliste</a>
        <footer>
            <small id="today"></small>
        </footer>
        <script>
            var date = new Date();
            var year = date.getFullYear();
            document.getElementById("today").innerHTML = "&copy; FRA-UAS MVC Beispiel, " + year;
        </script> 
    </body>
</html>
