<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Note aktualisiert</title>
        <link rel="stylesheet" type="text/css" href="/css/basic.css">
    </head>
    <body>
        <h1>Note aktualisiert</h1>
        <p>Note ID: <b th:text="${note.id}">id</b></p>
        <p>Fach: <b th:text="${note.Fach}">fach</b></p>
        <p>Note: <b th:text="${note.Note}">note</b></p>
        <br/>
        <a href="/" class="back-link">Zurück zur Startseite</a>
        <footer>
            <small id="today"></small>
        </footer>
        <script>
            var date = new Date();
            var year = date.getFullYear();
            document.getElementById("today").innerHTML = "&copy; FRA-UAS MVC Beispiel, " + year;
        </script> 
    </body>
</html>
