<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Note Aktualisieren</title>
    <link rel="stylesheet" type="text/css" href="/css/basic.css">
</head>

<body>
    <h1>Note Aktualisieren</h1>
    <!-- Ein Formular, um Parameter mit der HTTP-Methode POST zu senden -->
    <!--Falsche Variablenamen, nur die nutzen, die im Controller im Übergabeparameter angegeben hast bspw. note und nicht grade-->
    <form action="/updated" method="post">
        <label for="id">ID:</label><br>
        <input type="number" id="id" name="id" required><br>
        <label for="fach">Fach:</label><br>
        <input type="text" id="fach" name="fach" required><br>
        <label for="note">Note:</label><br>
        <input type="text" id="note" name="note" required><br><br>
        <input type="submit" value="Abschicken">
    </form>
    <br />
    <a href="/" class="back-link">Zurück zur Startseite</a>
    <footer>
        <small id="today"></small>
    </footer>
    <script>
        var date = new Date();
        var year = date.getFullYear();
        document.getElementById("today").innerHTML = "&copy; FRA-UAS MVC Beispiel, " + year;
    </script>
</body>

</html>